﻿#Script de purge du registre avec possibilité de désinstaller l'application souhaité
#AUTEUR : Enzo WINTZ

Add-Type -AssemblyName System.Windows.Forms

#On récupère le id de l'utilisateur qui exécute le script
Function Get-PSWho {
  <#
  .SYNOPSIS
  Get PowerShell user summary information
  
  .DESCRIPTION
  This command will provide a summary of relevant information for the current 
  user in a PowerShell session. You might use this to troubleshoot an end-user
  problem running a script or command. The default behavior is to write an 
  object to the pipeline, but you can use the -AsString parameter to force the
  command to write a string. This makes it easier to use in your scripts with
  Write-Verbose.
  
  .PARAMETER AsString
  Write the summary object as a string.
  
  .EXAMPLE
  PS C:\> Get-PSWho

  User            : BOVINE320\Jeff
  Elevated        : True
  Computername    : BOVINE320
  OperatingSystem : Microsoft Windows 10 Pro [64-bit]
  OSVersion       : 10.0.16299
  PSVersion       : 5.1.16299.64
  Edition         : Desktop
  PSHost          : ConsoleHost
  WSMan           : 3.0
  ExecutionPolicy : RemoteSigned
  Culture         : en-US

  .EXAMPLE
  PS /mnt/c/scripts> get-pswho


  User            : jhicks
  Elevated        : NA
  Computername    : Bovine320
  OperatingSystem : Linux 4.4.0-43-Microsoft #1-Microsoft Wed Dec 31 14:42:53 PST 2014
  OSVersion       : Ubuntu 16.04.3 LTS
  PSVersion       : 6.0.0-rc
  Edition         : Core
  PSHost          : ConsoleHost
  WSMan           : 3.0
  ExecutionPolicy : Unrestricted
  Culture         : en-US

  .EXAMPLE
  PS C:\Program Files\PowerShell\6.0.0-rc> get-pswho


  User            : BOVINE320\Jeff
  Elevated        : True
  Computername    : BOVINE320
  OperatingSystem : Microsoft Windows 10 Pro [64-bit]
  OSVersion       : 10.0.16299
  PSVersion       : 6.0.0-rc
  Edition         : Core
  PSHost          : ConsoleHost
  WSMan           : 3.0
  ExecutionPolicy : RemoteSigned
  Culture         : en-US

  .EXAMPLE
  PS C:\> Get-PSWho -asString | Set-Content c:\test\who.txt

  .NOTES
  Learn more about PowerShell: http://jdhitsolutions.com/blog/essential-powershell-resources/

   .INPUTS
   none

   .OUTPUTS
   [pscustomboject]
   [string]
  
   .LINK
  Get-CimInstance
  .LINK
  Get-ExecutionPolicy
  .LINK
  $PSVersionTable
  .LINK
  $Host
  #>
    [CmdletBinding()]
    Param(
      [switch]$AsString
    )

if ($PSVersionTable.PSEdition -eq "desktop" -OR $PSVersionTable.OS -match "Windows") {
      
        #get some basic information about the operating system
        $cimos = Get-CimInstance win32_operatingsystem -Property Caption, Version,OSArchitecture
        $os = "$($cimos.Caption) [$($cimos.OSArchitecture)]"
        $osver = $cimos.Version

        #determine the current user so we can test if the user is running in an elevated session
        $current = [Security.Principal.WindowsIdentity]::GetCurrent()
        $principal = [Security.Principal.WindowsPrincipal]$current
        $Elevated = $principal.IsInRole([Security.Principal.WindowsBuiltinRole]::Administrator)
        $user = $current.Name
        $computer = $env:COMPUTERNAME
    }
    else {
     #non-Windows values
      $os = $PSVersionTable.OS
      $lsb = lsb_release -d
      $osver =   ($lsb -split ":")[1].Trim()
      $elevated = "NA"
      $user = $env:USER
      $computer = $env:NAME
    }


    #object properties will be displayed in the order they are listed here
    $who = [pscustomObject]@{ 
        User            = $user
        Elevated        = $elevated
        Computername    = $computer
        OperatingSystem = $os
        OSVersion       = $osver
        PSVersion       = $PSVersionTable.PSVersion.ToString()
        Edition         = $PSVersionTable.PSEdition
        PSHost          = $host.Name
        WSMan           = $PSVersionTable.WSManStackVersion.ToString()
        ExecutionPolicy = (Get-ExecutionPolicy)
        Culture         = $host.CurrentCulture
    }

    if ($AsString) {
      $who | Out-String
    }
    else {
      $who
    }
}

$Global:x = GWMI -CL Win32_ComputerSystem
$Global:id = $($Global:x.UserName).Split("\",7) 

#Fonction qui va créer le répertoire de logs dans le {{ DIR_LOGS }}
function create_repo_logs {
$Global:DIR_LOGS = "{{ DIR_LOGS }}"
$Global:DIR_LOGS2 = "{{ DIR_LOGS2 }}"
if (-not(test-path $Global:DIR_LOGS))
    {
        New-Item -Path $Global:DIR_LOGS -ItemType Directory 
        if (-not(test-path $Global:DIR_LOGS2))
            {
            New-Item -Path $Global:DIR_LOGS2 -ItemType Directory
            }
    }
elseif (-not(test-path $Global:DIR_LOGS2))
       {
        New-Item -Path $Global:DIR_LOGS2 -ItemType Directory
       }
}
#On vérifie que notre dossier de logs existe
create_repo_logs

Function write-log{            
##----------------------------------------------------------------------------------------------------            
##  Function: Write-Log            
##  Purpose: This function writes trace32 log fromat file to user desktop      
##  Function by: Kaido JÃƒÂ¤rvemets Configuration Manager MVP (http://www.cm12sdk.net)
##----------------------------------------------------------------------------------------------------                            
PARAM(                     
    [String]$Message,                                  
    [int]$severity,                     
    [string]$component                     
    )                                          
    $TimeZoneBias = Get-WmiObject -Query "Select Bias from Win32_TimeZone"                     
    $Date= Get-Date -Format "HH:mm:ss.fff"                     
    $Date2= Get-Date -Format "MM-dd-yyyy"                     
    $type=1                         
   
    "<![LOG[$Message]LOG]!><time=$([char]34)$date+$($TimeZoneBias.bias)$([char]34) date=$([char]34)$date2$([char]34) component=$([char]34)$component$([char]34) context=$([char]34)$([char]34) type=$([char]34)$severity$([char]34) thread=$([char]34)$([char]34) file=$([char]34)$([char]34)>"| Out-File -FilePath "$Global:DIR_LOGS2\$env:COMPUTERNAME-$Global:id-{{ name_tools }}-Purge_registre.Log" -Append -NoClobber -Encoding default            
    } 

#MAj de la liste une fois la suppression de la clé de registre effectué
function Update_list {
#On récupère les champs application Name et on enlève les espaces associés
$keys = $null
$Global:res_regex = $null
$Global:Value_def = $null
$keys_filter = $null
$keys = @((Get-ChildItem -Path "registry::HKLM\SOFTWARE\TEST" | get-itemproperty)."Application Name")
$Global:keys = $keys -replace '\s',''

#On récupère toutes les clés de registre se situant dans HKLM\SOFTWARE\TEST et on met un filtre sur les éléments que l'on ne souhaite pas afficher
$keys_regex_start = @((Get-ChildItem -Path "registry::HKLM\SOFTWARE\TEST" | Select-Object Name ))
$keys_filter = @($keys_regex_start | Where-Object {$_ -notmatch "TEST1" -and $_ -notmatch "TEST2"}) 

foreach ($x in $keys_filter)
    {
    $keys_regex = $x | Where-Object {$_ -match '(\\(.+)\\(.+)\\(.+).)'}
    $Global:res_regex = @($Matches[4])
    $Global:res = @($Global:res_regex)
    $Combo1.Items.add("$Global:res") | out-null
    }
    
}

#Fonction qui va purger la clé de registre 
function Purge_REGISTRY {
    param (
        # Parameter accepts the employee id to be searched.
        [Parameter(Mandatory=$true)]
        $Name
    )

Remove-Item -Path "registry::HKLM\SOFTWARE\TEST\$Name" -Recurse
write-log -Message "Suppresion de la clé de registre $Name" -severity 2 -component "Purge Registre"
write-host "Suppresion de la clé de registre $Name"

[System.Windows.Forms.MessageBox]::Show("La clé de registre $Name est supprimée", "Purge registre" , "OK", "INFORMATION")
}

function push_policy {
    param (
        # Parameter accepts the employee id to be searched.
        [Parameter(Mandatory=$true)]
        $Policy_triggers
    )
switch ($Policy_triggers)
    {
        "{00000000-0000-0000-0000-000000000001}" {
         [wmi]"ROOT\ccm\invagt:InventoryActionStatus.InventoryActionID='{00000000-0000-0000-0000-000000000001}'" | remove-wmiobject -ErrorAction SilentlyContinue
         ([wmiclass]'ROOT\ccm:SMS_Client').TriggerSchedule('{00000000-0000-0000-0000-000000000001}') | out-null
        }
        
        "{00000000-0000-0000-0000-000000000002}" {
         [wmi]"ROOT\ccm\invagt:InventoryActionStatus.InventoryActionID='{00000000-0000-0000-0000-000000000002}'" | remove-wmiobject -ErrorAction SilentlyContinue
         ([wmiclass]'ROOT\ccm:SMS_Client').TriggerSchedule('{00000000-0000-0000-0000-000000000002}') | out-null
        }
        "{00000000-0000-0000-0000-000000000022}" {
         ([wmiclass]'ROOT\ccm:SMS_Client').TriggerSchedule('{00000000-0000-0000-0000-000000000022}')
        }
        "{00000000-0000-0000-0000-000000000123}" {
         ((New-Object -comobject "CPApplet.CPAppletMgr").GetClientActions() | Where-Object { $_.ActionID -eq '{00000000-0000-0000-0000-000000000123}' }).PerformAction()
        }
        "{00000000-0000-0000-0000-000000000108}" {
         ([wmiclass]'ROOT\ccm:SMS_Client').TriggerSchedule('{00000000-0000-0000-0000-000000000108}')
        }

        default {
        $a = ([wmi]"\\$env:computername\root\ccm\Policy\$usersid\ActualConfig:CCM_Scheduler_ScheduledMessage.ScheduledMessageID=$Policy_triggers”)
        $a.Triggers = @('SimpleInterval;Minutes=1;MaxRandomDelayMinutes=0')
        $a.Put()
        }
    }

}

#Fonction qui va mettre à jour les stratégies du client SCCM
function MAJ_policies_SCCM {

#On récupère le nom de la machine via les variables d'environnement
$machine=$env:computername
#Lancement du HeartBeat
$HearBeat = '{00000000-0000-0000-0000-000000000003}'|% {Invoke-WMIMethod -ComputerName $machine -Namespace root\ccm -Class SMS_CLIENT -Name TriggerSchedule $_} -ErrorAction SilentlyContinue

#On lance le Heartbeat, si c'est OK il fera les autres actions sinon il se stoppera
if ($HearBeat)
    {
    $wmi = Get-WmiObject -Query 'select UserSID, LogoffTime from CCM_UserLogonEvents WHERE LogoffTime = NULL' -Namespace 'Root\ccm'
            
    $userSIDS = ($wmi.UserSID).replace("-", "_")
    foreach ($usersid in $userSIDS)
        {
        $Policy_List = @('{00000000-0000-0000-0000-000000000001}','{00000000-0000-0000-0000-000000000002}','{00000000-0000-0000-0000-000000000026}','{00000000-0000-0000-0000-000000000022}','{00000000-0000-0000-0000-000000000043}','{00000000-0000-0000-0000-000000000041}','{00000000-0000-0000-0000-000000000108}','{00000000-0000-0000-0000-000000000123}')
            ForEach ($MessageID in $Policy_List)
            {
            switch ($MessageID)
                {
                    "{00000000-0000-0000-0000-000000000001}" {
                    write-host "Hardware Inventory" -ForegroundColor Yellow
                    push_policy -Policy_triggers $MessageID -ErrorAction SilentlyContinue
                    write-log "Hardware Inventory"
                    }
                    "{00000000-0000-0000-0000-000000000002}" {
                    write-host "Software Inventory" -ForegroundColor Yellow
                    push_policy -Policy_triggers $MessageID -ErrorAction SilentlyContinue
                    write-log "Software Inventory"
                    }
                    "{00000000-0000-0000-0000-000000000026}" {
                    write-host "Policy Agent Request Assignment (User)" -ForegroundColor Yellow
                    push_policy -Policy_triggers $MessageID | Out-null
                    write-log "Policy Agent Request Assignment (User)"
                    }
                    "{00000000-0000-0000-0000-000000000022}" {
                    write-host "Evaluate Machine Policies" -ForegroundColor Yellow
                    push_policy -Policy_triggers $MessageID | Out-null
                    write-log "Evaluate Machine Policies"
                    }
                    "{00000000-0000-0000-0000-000000000043}" {
                    write-host "Policy Agent Validate User Policy / Assignment" -ForegroundColor Yellow
                    push_policy -Policy_triggers $MessageID | Out-null
                    write-log "Policy Agent Validate User Policy / Assignment"
                    }
                    "{00000000-0000-0000-0000-000000000041}" {
                    write-host "Policy Agent Validate Machine Policy / Assignment" -ForegroundColor Yellow
                    push_policy -Policy_triggers $MessageID | Out-null
                    write-log "Policy Agent Validate Machine Policy / Assignment"
                    }
                    "{00000000-0000-0000-0000-000000000123}" {
                    write-host "Application manager global evaluation action" -ForegroundColor Yellow
                    push_policy -Policy_triggers $MessageID | Out-null
                    write-log "Application manager global evaluation action"
                    }
                    "{00000000-0000-0000-0000-000000000108}" {
                    write-host "Software Updates Assignments Evaluation Cycle" -ForegroundColor Yellow
                    push_policy -Policy_triggers $MessageID | Out-null
                    write-log "Software Updates Assignments Evaluation Cycle"
                    }
                }
            }
        } 
    }
else 
{
write-log -Message "Lancement du HeartBeat négatif" -severity 1 -component "Heartbeat"
write-log -Message "Merci de vérifier le client SCCM" -severity 1 -component "Client SCCM"
[System.Windows.Forms.MessageBox]::Show("Le Heartbeat vers le serveur SCCM est négatif`n`nMerci de vérifier l'état du client SCCM ou de le réinstaller", "Purge registre" , "OK", "STOP")
start-sleep -Milliseconds 200
}
}


[void][System.Reflection.Assembly]::LoadWithPartialName('presentationframework')
[xml]$XAML = @'
<Window 
            xmlns="http://schemas.microsoft.com/winfx/2006/xaml/presentation"
            xmlns:x="http://schemas.microsoft.com/winfx/2006/xaml"
            xmlns:d="http://schemas.microsoft.com/expression/blend/2008"
            xmlns:mc="http://schemas.openxmlformats.org/markup-compatibility/2006"

        Title="Script Purge registre" Height="280" Width="480">
    <Grid Background="#68BFDD">
    <TextBlock x:Name="textBlock" HorizontalAlignment="center" Height="80" Margin="30" TextWrapping="Wrap" Text="Purge clés de registre logiciels" FontWeight="Bold" UseLayoutRounding="True" VerticalAlignment="Top" Width="300" Foreground="White" FontSize="18.667"/>
        <Button x:Name="Refresh" Content="Rafraichissement" FontWeight="Bold" HorizontalAlignment="Left" Height="30" Margin="300,-50,0,0"  Width="120" >
		    <Button.Effect>
				<DropShadowEffect BlurRadius="15" ShadowDepth="0"/>
			</Button.Effect>
			<Button.Resources>
				<Style TargetType="{x:Type Border}">
					<Setter Property="CornerRadius" Value="5"/>
					<Setter Property="Padding" Value="10,2,10,3"/>
					<Setter Property="Background" Value="White"/>
				</Style>
			</Button.Resources>			 
		</Button> 
       <Button x:Name="Supprimer" Content="Supprimer" FontWeight="Bold" HorizontalAlignment="Left" Height="30" Margin="300,45,0,0"  Width="120" >
		    <Button.Effect>
				<DropShadowEffect BlurRadius="15" ShadowDepth="0"/>
			</Button.Effect>
			<Button.Resources>
				<Style TargetType="{x:Type Border}">
					<Setter Property="CornerRadius" Value="5"/>
					<Setter Property="Padding" Value="10,2,10,3"/>
					<Setter Property="Background" Value="White"/>
				</Style>
			</Button.Resources>			 
		</Button> 
        <Button x:Name="Fermer" Content="Fermer" FontWeight="Bold" HorizontalAlignment="Left" Height="30" Margin="300,140,0,0"  Width="120">
		    <Button.Effect>
				<DropShadowEffect BlurRadius="15" ShadowDepth="0"/>
			</Button.Effect>
			<Button.Resources>
				<Style TargetType="{x:Type Border}">
					<Setter Property="CornerRadius" Value="5"/>
					<Setter Property="Padding" Value="10,2,10,3"/>
					<Setter Property="Background" Value="White"/>
				</Style>
			</Button.Resources>			 
		</Button> 
        <ComboBox Name="Combo1" HorizontalAlignment="Left" VerticalAlignment="top" Width="200" Margin="50,115,0,0"/>
    </Grid>


</Window>
'@
#Read XAML
$reader=(New-Object System.Xml.XmlNodeReader $xaml) 
try{$Form=[Windows.Markup.XamlReader]::Load( $reader )}
catch{Write-Host "Unable to load Windows.Markup.XamlReader. Some possible causes for this problem include: .NET Framework is missing PowerShell must be launched with PowerShell -sta, invalid XAML code was encountered."; exit}
 
#===========================================================================
# Store Form Objects In PowerShell
#===========================================================================
$xaml.SelectNodes("//*[@Name]") | %{Set-Variable -Name ($_.Name) -Value $Form.FindName($_.Name)}

write-log -Message "-+-+-+-+-+-+-+-+Debut du script Purge_Registre+-+-+-+-+-+-+-+-+" -severity 1 -component "Purge Registre"

#Appel de la fonction pour incrémenter notre liste déroulante
Update_list

#Initialisation de la variable qui sera reprise lorsque l'action supprimer sera sélectionnée 
$Combo1.add_SelectionChanged({
    param($sender,$args)
    $Value_choose = [string] $($sender.SelectedValue)
    $Global:Value_def = $Value_choose
})

#Action à effectuer lors de la récupération de la valeur sélectionnée du menu déroulant
$button = $Form.FindName("Supprimer")
$button.add_click({
#Fonction qui vérifie le match entre la clé de registre et le champ Application Name
if ($Global:Value_def -eq $null)
    {
    [System.Windows.Forms.MessageBox]::Show("Merci de sélectionner une valeur", "Purge registre" , "OK", "INFORMATION")
    }
else {

    #On purge la clé de registre associée à l'appli
    Purge_REGISTRY -Name "$Global:Value_def"

    #On met a jour nos stratégies du client SCCM
    MAJ_policies_SCCM
    
    write-log -Message "-+-+-+-+-+-+-+-+Fin du script Purge_Registre+-+-+-+-+-+-+-+-+" -severity 1 -component "Purge Registre"
    #On rappatrie le log sur notre partage commun afin de simplifier le monitoring d'{{ name_tools }}
    Back_To_Share_Place
    }
})

$button2 = $Form.FindName("Fermer")
$button2.add_click({$Form.Close()})

#Bouton qui va refresh la liste afin de la mettre à jour
$buttonR = $Form.FindName("Refresh")
$buttonR.add_click({
$Combo1.Items.Clear()
Update_list
})
    
# Display UI object
$Form.ShowDialog() | out-null