clear
################################
#                              #
#           SCRIPT             # 
#        {{ name_tools }}      #
#         {{ version }}        #
#                              #
#   AUTEUR : {{ auteur }}      #
#                              #
################################

#APPLI Tout en un qui regroupe deux versions a lancer {{ name_tools }} {{ version_file_name1 }} et {{ name_tools }} {{ version_file_name2 }}
#Auteur : {{ auteur }} - 09/06/2022 - MAJ du script 

#####DEFINITION DES FONCTIONS De {{ name_tools }}#####
#On verifie que l'utilisateur est en compte administrateur afin de pouvoir executer le script
function Test-Admin { 
	$identity = [Security.Principal.WindowsIdentity]::GetCurrent() 
	$principal = new-object Security.Principal.WindowsPrincipal $identity 
	$principal.IsInRole([Security.Principal.WindowsBuiltInRole]::Administrator)   
}

#On verifie l'existence du dossier de Logs ou sera centralise l'ensemble des actions liees a {{ name_tools }}
function create_repo_logs {
if (-not(test-path $Global:DIR_LOGS))
    {
        New-Item -Path $Global:DIR_LOGS -ItemType Directory 
        if (-not(test-path $Global:DIR_LOGS2))
            {
            New-Item -Path $Global:DIR_LOGS2 -ItemType Directory
            }
    }
elseif (-not(test-path $Global:DIR_LOGS2))
       {
        New-Item -Path $Global:DIR_LOGS2 -ItemType Directory
       }
}

#Fonction qui definie si le poste est en {{ version_file_name1 }} ou en {{ version_file_name2 }} et cela permettra de charger le bon fichier XML
function test_site {
$Choice_random = get-random -input $Global:V1,$Global:V2

    if ($Choice_random -eq $Global:V1 )
    {
    write-log -Message "Choix $Global:V1"
    return "$Global:V1"
    }
    else
    {
    write-log -Message "Choix $Global:V2"
    return "$Global:V2"
    }
}

#Fonction qui ressort le id de l'utilisateur qui execute le script
Function Get-PSWho {
  <#
  .SYNOPSIS
  Get PowerShell user summary information
  
  .DESCRIPTION
  This command will provide a summary of relevant information for the current 
  user in a PowerShell session. You might use this to troubleshoot an end-user
  problem running a script or command. The default behavior is to write an 
  object to the pipeline, but you can use the -AsString parameter to force the
  command to write a string. This makes it easier to use in your scripts with
  Write-Verbose.
  
  .PARAMETER AsString
  Write the summary object as a string.
  
  .EXAMPLE
  PS C:\> Get-PSWho

  User            : BOVINE320\Jeff
  Elevated        : True
  Computername    : BOVINE320
  OperatingSystem : Microsoft Windows 10 Pro [64-bit]
  OSVersion       : 10.0.16299
  PSVersion       : 5.1.16299.64
  Edition         : Desktop
  PSHost          : ConsoleHost
  WSMan           : 3.0
  ExecutionPolicy : RemoteSigned
  Culture         : en-US

  .EXAMPLE
  PS /mnt/c/scripts> get-pswho


  User            : jhicks
  Elevated        : NA
  Computername    : Bovine320
  OperatingSystem : Linux 4.4.0-43-Microsoft #1-Microsoft Wed Dec 31 14:42:53 PST 2014
  OSVersion       : Ubuntu 16.04.3 LTS
  PSVersion       : 6.0.0-rc
  Edition         : Core
  PSHost          : ConsoleHost
  WSMan           : 3.0
  ExecutionPolicy : Unrestricted
  Culture         : en-US

  .EXAMPLE
  PS C:\Program Files\PowerShell\6.0.0-rc> get-pswho


  User            : BOVINE320\Jeff
  Elevated        : True
  Computername    : BOVINE320
  OperatingSystem : Microsoft Windows 10 Pro [64-bit]
  OSVersion       : 10.0.16299
  PSVersion       : 6.0.0-rc
  Edition         : Core
  PSHost          : ConsoleHost
  WSMan           : 3.0
  ExecutionPolicy : RemoteSigned
  Culture         : en-US

  .EXAMPLE
  PS C:\> Get-PSWho -asString | Set-Content c:\test\who.txt

  .NOTES
  Learn more about PowerShell: http://jdhitsolutions.com/blog/essential-powershell-resources/

   .INPUTS
   none

   .OUTPUTS
   [pscustomboject]
   [string]
  
   .LINK
  Get-CimInstance
  .LINK
  Get-ExecutionPolicy
  .LINK
  $PSVersionTable
  .LINK
  $Host
  #>
    [CmdletBinding()]
    Param(
      [switch]$AsString
    )

if ($PSVersionTable.PSEdition -eq "desktop" -OR $PSVersionTable.OS -match "Windows") {
      
        #get some basic information about the operating system
        $cimos = Get-CimInstance win32_operatingsystem -Property Caption, Version,OSArchitecture
        $os = "$($cimos.Caption) [$($cimos.OSArchitecture)]"
        $osver = $cimos.Version

        #determine the current user so we can test if the user is running in an elevated session
        $current = [Security.Principal.WindowsIdentity]::GetCurrent()
        $principal = [Security.Principal.WindowsPrincipal]$current
        $Elevated = $principal.IsInRole([Security.Principal.WindowsBuiltinRole]::Administrator)
        $user = $current.Name
        $computer = $env:COMPUTERNAME
    }
    else {
     #non-Windows values
      $os = $PSVersionTable.OS
      $lsb = lsb_release -d
      $osver =   ($lsb -split ":")[1].Trim()
      $elevated = "NA"
      $user = $env:USER
      $computer = $env:NAME
    }


    #object properties will be displayed in the order they are listed here
    $who = [pscustomObject]@{ 
        User            = $user
        Elevated        = $elevated
        Computername    = $computer
        OperatingSystem = $os
        OSVersion       = $osver
        PSVersion       = $PSVersionTable.PSVersion.ToString()
        Edition         = $PSVersionTable.PSEdition
        PSHost          = $host.Name
        WSMan           = $PSVersionTable.WSManStackVersion.ToString()
        ExecutionPolicy = (Get-ExecutionPolicy)
        Culture         = $host.CurrentCulture
    }

    if ($AsString) {
      $who | Out-String
    }
    else {
      $who
    }
}

#Fonction multithread qui permettra d'ameliorer les performances de l'interface graphique
function Multithread_func {
   param (
   [Parameter(Mandatory=$true)]
    $NewMultiThreadCondition,
    $NewMultiThreadContent,
    $NewMultiThreadTitle,
    $NewMultiThreadStatus,
    $NewMultiThreadType,
    $NewMultiThreadScriptAction   
   )

switch ($NewMultiThreadCondition)
    {
        "MSG_BOX" {
            $syncHash = [hashtable]::Synchronized(@{})
            $syncHash.Add("Content", $NewMultiThreadContent)
            $syncHash.Add("Title", $NewMultiThreadTitle)
            $syncHash.Add("Status", $NewMultiThreadStatus)
            $syncHash.Add("Type", $NewMultiThreadType)
            $newRunspace =[runspacefactory]::CreateRunspace()
            $newRunspace.ApartmentState = "STA"
            $newRunspace.ThreadOptions = "ReuseThread"         
            $newRunspace.Open()
            $newRunspace.SessionStateProxy.SetVariable("syncHash",$syncHash)          
            $psCmd = [PowerShell]::Create().AddScript({[System.Windows.Forms.MessageBox]::Show($syncHash.Content,$syncHash.Title,$syncHash.Status,$syncHash.Type)})
            $psCmd.Runspace = $newRunspace
            $data = $psCmd.BeginInvoke()
        }

        "SCRIPT" {
            
            
            $syncHash = [hashtable]::Synchronized(@{})
            $syncHash.Add("script", $NewMultiThreadScriptAction)
            $newRunspace =[runspacefactory]::CreateRunspace()
            $newRunspace.ApartmentState = "STA"
            $newRunspace.ThreadOptions = "ReuseThread"         
            $newRunspace.Open()
            $newRunspace.SessionStateProxy.SetVariable("syncHash",$syncHash)          
            $psCmd = [PowerShell]::Create().AddScript({
                foreach ($row in $syncHash.script)
                    {
                    & $row
                    sleep 20
                    }            
                })
            $psCmd.Runspace = $newRunspace
            $data = $psCmd.BeginInvoke()
        }
        
        default {"KO"}         
    }

}

#Exemple utilisation de la fonction de multithread
#Multithread_func -NewMultiThreadCondition "MSG_BOX"  -NewMultiThreadContent "ceci est une fenetre test enzo" -NewMultiThreadTitle "Information" -NewMultiThreadStatus "OKCANCEL" -NewMultiThreadType "warning"
#Multithread_func -NewMultiThreadCondition "SCRIPT" -NewMultiThreadScriptAction ""

#Fonction qui servira a pouvoir ecrire les logs lors de l'execution du script d'interface
Function write-log{            
##----------------------------------------------------------------------------------------------------            
##  Function: Write-Log            
##  Purpose: This function writes trace32 log fromat file to user desktop      
##  Function by: Kaido JÃ¤rvemets Configuration Manager MVP (http://www.cm12sdk.net)
##----------------------------------------------------------------------------------------------------                            
PARAM(                     
    [String]$Message,                                  
    [int]$severity,                     
    [string]$component                     
    )                                          
    $TimeZoneBias = Get-WmiObject -Query "Select Bias from Win32_TimeZone"                     
    $Date= Get-Date -Format "HH:mm:ss.fff"                     
    $Date2= Get-Date -Format "MM-dd-yyyy"                     
    $type=1                         
   
    "<![LOG[$Message]LOG]!><time=$([char]34)$date+$($TimeZoneBias.bias)$([char]34) date=$([char]34)$date2$([char]34) component=$([char]34)$component$([char]34) context=$([char]34)$([char]34) type=$([char]34)$severity$([char]34) thread=$([char]34)$([char]34) file=$([char]34)$([char]34)>"| Out-File -FilePath "$Global:DIR_LOGS2\$env:COMPUTERNAME-$Global:Name_Log" -Append -NoClobber -Encoding default            
    } 

#Fonction qui load le fichier XML
function LoadXml ($filename)
{
    $XamlLoader=(New-Object System.Xml.XmlDocument)
    $XamlLoader.Load($filename)
    return $XamlLoader
}

#Fonction de l'interface de {{ name_tools }} {{ version_file_name1 }}
function {{ name_tools }}_{{ version_file_name1 }} {
$XamlMainWindow=LoadXml("$Global:XamlRoute")
$Reader=(New-Object System.Xml.XmlNodeReader $XamlMainWindow)

    echo "Le users $Global:id a lance {{ name_tools }} le $Global:D2 a $Global:D sur $wksname" >> "$Global:DP_WHO_LAUNCH\$Global:D2.txt"

    $Form=[Windows.Markup.XamlReader]::Load($Reader)
    $Form.Background = '#D6F9EF'

    $MENU_Close = $form.FindName("Close")
    $MENU_MainMenu = $form.FindName("MainMenu")
    $MENU_Open_Menu = $form.FindName("Open_Menu")
    $MENU_Open_Menu.Visibility = "visible"
   
    #####SCCM PART#####
#Recherche des elements dans le fichier XML
    $SCCM_link = $form.FindName("SCCM_link")
    $SCCM_SubMenu_Links = $form.FindName("SubMenu_Links_SCCM")
    $SCCM_Close_SubMenu_Links = $form.FindName("Close_SubMenu_Links_SCCM")

    #Sous menu SCCM appel des differentes fonctions
    $SCCM_Uninstall = $form.FindName("Uninstall_sccm")
    $SCCM_Maj_policies = $form.FindName("Maj_policies_sccm")
    $SCCM_Clean_registry = $form.FindName("Clean_Registry")
    $SCCM_CMTRACE = $form.FindName("CMTRACE")
    $SCCM_Purge_cache = $form.FindName("Purge_cache_sccm")

    #On ouvre le sous menu SCCM
    $SCCM_link.Add_Click({
	    $MENU_MainMenu.IsOpen = $false
	    $MENU_Open_Menu.Visibility = "Collapsed"	
	    $SCCM_SubMenu_Links.IsOpen = $true	
    })

    #Fermer le sous menu SCCM
    $SCCM_Close_SubMenu_Links.Add_Click({
	    $SCCM_SubMenu_Links.IsOpen = $false
	    $MENU_MainMenu.IsOpen = $true
	    $MENU_Open_Menu.Visibility = "Collapsed"
    })

    #####WINDOWS PART#####
#Recherche des elements dans le fichier XML
    $WINDOWS_links = $form.FindName("Windows_links")
    $WINDOWS_SubMenu_Links = $form.FindName("SubMenu_Links_Windows")
    $WINDOWS_Close_SubMenu_Links = $form.FindName("Close_SubMenu_Links_Windows")

    #Sous menu Windows appel des differentes fonctions
    $WINDOWS_Copy_Data = $form.FindName("Copy_Data")
    $WINDOWS_Purge_profil = $form.FindName("purge_profil")
    $WINDOWS_VerrNum = $form.FindName("VerrNum")

    #On ouvre le sous menu Windows
    $WINDOWS_links.Add_Click({
	    $MENU_MainMenu.IsOpen = $false
	    $MENU_Open_Menu.Visibility = "Collapsed"	
	    $WINDOWS_SubMenu_Links.IsOpen = $true	
    })

    #Fermer le sous menu Windows
    $WINDOWS_Close_SubMenu_Links.Add_Click({
	    $WINDOWS_SubMenu_Links.IsOpen = $false
	    $MENU_MainMenu.IsOpen = $true
	    $MENU_Open_Menu.Visibility = "Collapsed"
    })

    #####Applications PART#####
#Recherche des elements dans le fichier XML
    $APPLI_links = $form.FindName("Applications_links")
    $APPLI_SubMenu_Links = $form.FindName("SubMenu_Links_Applications")
    $APPLI_Close_SubMenu_Links = $form.FindName("Close_SubMenu_Links_Applications")

    #Sous menu Applications appel des differentes fonctions
    $APPLI_keepass_repar = $form.FindName("keepass_repar")
    $APPLI_java_repar = $form.FindName("java_repar")

    #On ouvre le sous menu Windows
    $APPLI_links.Add_Click({
	    $MENU_MainMenu.IsOpen = $false
	    $MENU_Open_Menu.Visibility = "Collapsed"	
	    $APPLI_SubMenu_Links.IsOpen = $true	
    })

    #Fermer le sous menu Windows
    $APPLI_Close_SubMenu_Links.Add_Click({
	    $APPLI_SubMenu_Links.IsOpen = $false
	    $MENU_MainMenu.IsOpen = $true
	    $MENU_Open_Menu.Visibility = "Collapsed"
    })

    ####AIDE PART#####
#Recherche des elements dans le fichier XML
    $Aide_link = $form.FindName("Aide_link")
    $SubMenu_Links_Aide = $form.FindName("SubMenu_Links_Aide")
    $Close_SubMenu_Links_Aide = $form.FindName("Close_SubMenu_Links_Aide")

    #Sous menu aide
    $about_aide = $form.FindName("about_aide")
    $wiki_scripts = $form.FindName("wiki_scripts")

    #On ouvre le sous menu Aide
    $Aide_link.Add_Click({
	    $MENU_MainMenu.IsOpen = $false
	    $MENU_Open_Menu.Visibility = "Collapsed"	
	    $SubMenu_Links_Aide.IsOpen = $true	
    })

    #Fermer le sous menu Aide
    $Close_SubMenu_Links_Aide.Add_Click({
	    $SubMenu_Links_Aide.IsOpen = $false
	    $MENU_MainMenu.IsOpen = $true
	    $MENU_Open_Menu.Visibility = "Collapsed"
    })

    ######INTERFACE PRINCIPAL#####
    ####DEBUT####
    #Fermer le menu
    $MENU_Close.Add_Click({
	    $MENU_MainMenu.IsOpen = $false
	    $MENU_Open_Menu.Visibility = "Visible"
    })

    #boutton d'ouverture du menu
    $MENU_Open_Menu.Add_Click({
	    $MENU_MainMenu.IsOpen = $true
	    $MENU_Open_Menu.Visibility = "Collapsed"
    })
    ####FIN####

    ######ACTIONS DES SOUS MENUS######
    #####SCCM - DEBUT#######
#Action de desinstallation du client SCCM
    $SCCM_Uninstall.Add_Click({
            write-log -Message "Desinstallation du centre logiciel" -severity 1 -component "ACTION - Desinstallation client SCCM"
            Multithread_func -NewMultiThreadCondition "SCRIPT" -NewMultiThreadScriptAction "$Global:SCCM_Onglet\UninstallClientSCCM.ps1"
    })

#Action de la mise a jour des strategies du client SCCM
    $SCCM_Maj_policies.Add_Click({
        write-log -Message "Mise a jour des strategies SCCM" -severity 1 -component "ACTION - Maj strategies SCCM"
        Multithread_func -NewMultiThreadCondition "SCRIPT" -NewMultiThreadScriptAction "$Global:SCCM_Onglet\MajPoliciesSCCM.ps1"
    })

#Action de purge du registre avec rejoue des strategies SCCM
    $SCCM_Clean_registry.Add_Click({
        write-log -Message "Clean registre cle applicatives" -severity 1 -component "ACTION - Purge Registre"
        Multithread_func -NewMultiThreadCondition "SCRIPT" -NewMultiThreadScriptAction "$Global:SCCM_Onglet\PURGE_REGISTRY.ps1"
    })

#Action de purge du cache SCCM
    $SCCM_Purge_cache.Add_Click({
       write-log -Message "Purge du cache SCCM" -severity 1 -component "ACTION - Purge cache SCCM"
       Multithread_func -NewMultiThreadCondition "SCRIPT" -NewMultiThreadScriptAction "$Global:SCCM_Onglet\PurgeCacheSCCM.ps1"
    })

#Lancement de CMTRACE
    $SCCM_CMTRACE.Add_Click({
        Multithread_func -NewMultiThreadCondition "MSG_BOX" -NewMultiThreadContent "Vous venez de lancer l'utilitaire de lecture de logs" -NewMultiThreadTitle "CMTRACE" -NewMultiThreadStatus "OK" -NewMultiThreadType "INFORMATION"
        write-log -Message "Lancement CMTRACE" -severity 1 -component "ACTION - CMTRACE"
        Multithread_func -NewMultiThreadCondition "SCRIPT" -NewMultiThreadScriptAction "$Global:Source_Utilitaire\cmtrace.exe"
    })

    #####SCCM - FIN#######


    #####AIDE - DEBUT#######
#Onglet A propos 
        $about_aide.Add_Click({
            write-log -Message "Lancement a propos" -severity 1 -component "ACTION - A PROPOS"
            Multithread_func -NewMultiThreadCondition "MSG_BOX" -NewMultiThreadContent "{{ name_tools }} est un outil d'assistance qui englobe des actions pouvant agir sur le poste utilisateur.)" -NewMultiThreadTitle "A propos" -NewMultiThreadStatus "OK" -NewMultiThreadType "information"     
       })

#Action d'acces a la page Ansible de wikipedia ;)
        $wiki_scripts.Add_Click({
        write-log -Message "Lancement ansbile" -severity 1 -component "ACTION - WIKI_ANSIBLE"
	    $Browser=new-object -com internetexplorer.application
	    $Browser.navigate2("https://fr.wikipedia.org/wiki/Ansible_(logiciel)")
	    $Browser.visible=$true	
    })
    #####AIDE - FIN#######

    #####WINDOWS - DEBUT#######
#Action de copie des donnees utilisateurs
    $WINDOWS_Copy_Data.Add_Click({
        write-log -Message "Sauvegarde donnees utilisateur" -severity 1 -component "ACTION - Sauvegarde"
        Multithread_func -NewMultiThreadCondition "SCRIPT" -NewMultiThreadScriptAction "$Global:PDT_Onglets\CopyDataToCTravail.ps1"        
    })
    
#Action de purge de profil 4eme version
    $WINDOWS_Purge_profil.Add_Click({
        write-log -Message "Lancement de la purge profil" -severity 1 -component "ACTIONS - Purge profil"
        Multithread_func -NewMultiThreadCondition "SCRIPT" -NewMultiThreadScriptAction "$Global:PDT_Onglets\PurgeProfilV4.ps1"
    })

#Action d'activation du pave numerique au demarrage du poste
    $WINDOWS_VerrNum.Add_Click({
        write-log -Message "Pave numerique" -severity 1 -component "ACTION - PAVE NUMERIQUE"
        Multithread_func -NewMultiThreadCondition "SCRIPT" -NewMultiThreadScriptAction "$Global:PDT_Onglets\VerrNum_BarreDeProgression.ps1"
    })

    #####APPLICATIONS - DEBUT ######


#Action de reparation de Keepass - Reinstallation
   $APPLI_keepass_repar.Add_Click({
            write-log -Message "Reparation Keepass" -severity 1 -component "ACTION - KEEPASS"
            Multithread_func -NewMultiThreadCondition "SCRIPT" -NewMultiThreadScriptAction "$Global:APPLI_Onglets_TT\Keepass_uninstallWithProgressBar.ps1"
   })

#Action de reparation de Java - Desinstallation de Java
   $APPLI_java_repar.Add_Click({
            write-log -Message "Purge java" -severity 1 -component "ACTION - JAVA"
            Multithread_func -NewMultiThreadCondition "SCRIPT" -NewMultiThreadScriptAction "$Global:APPLI_Onglets_TT\java_uninstallWithProgressBar.ps1"      
   })
   
#####WINDOWS - FIN#######

#On affiche notre interface
$Form.ShowDialog() | Out-Null
}

function {{ name_tools }}_{{ version_file_name2 }} {
$XamlMainWindow=LoadXml("$Global:XamlRoute")
$Reader=(New-Object System.Xml.XmlNodeReader $XamlMainWindow)

    echo "Le users $Global:id a lance {{ name_tools }} le $Global:D2 a $Global:D sur $wksname" >> "$Global:DP_WHO_LAUNCH\$Global:D2.txt"

    $Form=[Windows.Markup.XamlReader]::Load($Reader)
    $Form.Background = '#D6F9EF'

    $MENU_Close = $form.FindName("Close")
    $MENU_MainMenu = $form.FindName("MainMenu")
    $MENU_Open_Menu = $form.FindName("Open_Menu")
    $MENU_Open_Menu.Visibility = "visible"
   
    #####SCCM PART#####
#Recherche des elements dans le fichier XML
    $SCCM_link = $form.FindName("SCCM_link")
    $SCCM_SubMenu_Links = $form.FindName("SubMenu_Links_SCCM")
    $SCCM_Close_SubMenu_Links = $form.FindName("Close_SubMenu_Links_SCCM")

    #Sous menu SCCM appel des differentes fonctions
    $SCCM_Uninstall = $form.FindName("Uninstall_sccm")
    $SCCM_Maj_policies = $form.FindName("Maj_policies_sccm")
    $SCCM_Clean_registry = $form.FindName("Clean_Registry")
    $SCCM_CMTRACE = $form.FindName("CMTRACE")
    $SCCM_Purge_cache = $form.FindName("Purge_cache_sccm")

    #On ouvre le sous menu SCCM
    $SCCM_link.Add_Click({
	    $MENU_MainMenu.IsOpen = $false
	    $MENU_Open_Menu.Visibility = "Collapsed"	
	    $SCCM_SubMenu_Links.IsOpen = $true	
    })

    #Fermer le sous menu SCCM
    $SCCM_Close_SubMenu_Links.Add_Click({
	    $SCCM_SubMenu_Links.IsOpen = $false
	    $MENU_MainMenu.IsOpen = $true
	    $MENU_Open_Menu.Visibility = "Collapsed"
    })

    #####WINDOWS PART#####
#Recherche des elements dans le fichier XML
    $WINDOWS_links = $form.FindName("Windows_links")
    $WINDOWS_SubMenu_Links = $form.FindName("SubMenu_Links_Windows")
    $WINDOWS_Close_SubMenu_Links = $form.FindName("Close_SubMenu_Links_Windows")

    #Sous menu Windows appel des differentes fonctions
    $WINDOWS_Copy_Data = $form.FindName("Copy_Data")
    $WINDOWS_Purge_profil = $form.FindName("purge_profil")
    $WINDOWS_VerrNum = $form.FindName("VerrNum")

    #On ouvre le sous menu Windows
    $WINDOWS_links.Add_Click({
	    $MENU_MainMenu.IsOpen = $false
	    $MENU_Open_Menu.Visibility = "Collapsed"	
	    $WINDOWS_SubMenu_Links.IsOpen = $true	
    })

    #Fermer le sous menu Windows
    $WINDOWS_Close_SubMenu_Links.Add_Click({
	    $WINDOWS_SubMenu_Links.IsOpen = $false
	    $MENU_MainMenu.IsOpen = $true
	    $MENU_Open_Menu.Visibility = "Collapsed"
    })

    #####Applications PART#####
#Recherche des elements dans le fichier XML
    $APPLI_links = $form.FindName("Applications_links")
    $APPLI_SubMenu_Links = $form.FindName("SubMenu_Links_Applications")
    $APPLI_Close_SubMenu_Links = $form.FindName("Close_SubMenu_Links_Applications")

    #Sous menu Applications appel des differentes fonctions
    $APPLI_keepass_repar = $form.FindName("keepass_repar")
    $APPLI_java_repar = $form.FindName("java_repar")

    #On ouvre le sous menu Windows
    $APPLI_links.Add_Click({
	    $MENU_MainMenu.IsOpen = $false
	    $MENU_Open_Menu.Visibility = "Collapsed"	
	    $APPLI_SubMenu_Links.IsOpen = $true	
    })

    #Fermer le sous menu Windows
    $APPLI_Close_SubMenu_Links.Add_Click({
	    $APPLI_SubMenu_Links.IsOpen = $false
	    $MENU_MainMenu.IsOpen = $true
	    $MENU_Open_Menu.Visibility = "Collapsed"
    })

    ####AIDE PART#####
#Recherche des elements dans le fichier XML
    $Aide_link = $form.FindName("Aide_link")
    $SubMenu_Links_Aide = $form.FindName("SubMenu_Links_Aide")
    $Close_SubMenu_Links_Aide = $form.FindName("Close_SubMenu_Links_Aide")

    #Sous menu aide
    $about_aide = $form.FindName("about_aide")
    $wiki_scripts = $form.FindName("wiki_scripts")

    #On ouvre le sous menu Aide
    $Aide_link.Add_Click({
	    $MENU_MainMenu.IsOpen = $false
	    $MENU_Open_Menu.Visibility = "Collapsed"	
	    $SubMenu_Links_Aide.IsOpen = $true	
    })

    #Fermer le sous menu Aide
    $Close_SubMenu_Links_Aide.Add_Click({
	    $SubMenu_Links_Aide.IsOpen = $false
	    $MENU_MainMenu.IsOpen = $true
	    $MENU_Open_Menu.Visibility = "Collapsed"
    })

    ######INTERFACE PRINCIPAL#####
    ####DEBUT####
    #Fermer le menu
    $MENU_Close.Add_Click({
	    $MENU_MainMenu.IsOpen = $false
	    $MENU_Open_Menu.Visibility = "Visible"
    })

    #boutton d'ouverture du menu
    $MENU_Open_Menu.Add_Click({
	    $MENU_MainMenu.IsOpen = $true
	    $MENU_Open_Menu.Visibility = "Collapsed"
    })
    ####FIN####

    ######ACTIONS DES SOUS MENUS######
    #####SCCM - DEBUT#######
#Action de desinstallation du client SCCM
    $SCCM_Uninstall.Add_Click({
            write-log -Message "Desinstallation du centre logiciel" -severity 1 -component "ACTION - Desinstallation client SCCM"
            Multithread_func -NewMultiThreadCondition "SCRIPT" -NewMultiThreadScriptAction "$Global:SCCM_Onglet\UninstallClientSCCM.ps1"
    })

#Action de la mise a jour des strategies du client SCCM
    $SCCM_Maj_policies.Add_Click({
        write-log -Message "Mise a jour des strategies SCCM" -severity 1 -component "ACTION - Maj strategies SCCM"
        Multithread_func -NewMultiThreadCondition "SCRIPT" -NewMultiThreadScriptAction "$Global:SCCM_Onglet\MajPoliciesSCCM.ps1"
    })

#Action de purge du registre avec rejoue des strategies SCCM
    $SCCM_Clean_registry.Add_Click({
        write-log -Message "Clean registre cle applicatives" -severity 1 -component "ACTION - Purge Registre"
        Multithread_func -NewMultiThreadCondition "SCRIPT" -NewMultiThreadScriptAction "$Global:SCCM_Onglet\PURGE_REGISTRY.ps1"
    })

#Action de purge du cache SCCM
    $SCCM_Purge_cache.Add_Click({
       write-log -Message "Purge du cache SCCM" -severity 1 -component "ACTION - Purge cache SCCM"
       Multithread_func -NewMultiThreadCondition "SCRIPT" -NewMultiThreadScriptAction "$Global:SCCM_Onglet\PurgeCacheSCCM.ps1"
    })

#Lancement de CMTRACE
    $SCCM_CMTRACE.Add_Click({
        Multithread_func -NewMultiThreadCondition "MSG_BOX" -NewMultiThreadContent "Vous venez de lancer l'utilitaire de lecture de logs" -NewMultiThreadTitle "CMTRACE" -NewMultiThreadStatus "OK" -NewMultiThreadType "INFORMATION"
        write-log -Message "Lancement CMTRACE" -severity 1 -component "ACTION - CMTRACE"
        Multithread_func -NewMultiThreadCondition "SCRIPT" -NewMultiThreadScriptAction "$Global:Source_Utilitaire\cmtrace.exe"
    })

    #####SCCM - FIN#######


    #####AIDE - DEBUT#######
#Onglet A propos 
        $about_aide.Add_Click({
            write-log -Message "Lancement a propos" -severity 1 -component "ACTION - A PROPOS"
            Multithread_func -NewMultiThreadCondition "MSG_BOX" -NewMultiThreadContent "{{ name_tools }} est un outil d'assistance qui englobe des actions pouvant agir sur le poste utilisateur.)" -NewMultiThreadTitle "A propos" -NewMultiThreadStatus "OK" -NewMultiThreadType "information"     
       })

#Action d'acces a la page Ansible de wikipedia ;)
        $wiki_scripts.Add_Click({
        write-log -Message "Lancement ansbile" -severity 1 -component "ACTION - WIKI_ANSIBLE"
	    $Browser=new-object -com internetexplorer.application
	    $Browser.navigate2("https://fr.wikipedia.org/wiki/Ansible_(logiciel)")
	    $Browser.visible=$true	
    })
    #####AIDE - FIN#######

    #####WINDOWS - DEBUT#######
#Action de copie des donnees utilisateurs
    $WINDOWS_Copy_Data.Add_Click({
        write-log -Message "Sauvegarde donnees utilisateur" -severity 1 -component "ACTION - Sauvegarde"
        Multithread_func -NewMultiThreadCondition "SCRIPT" -NewMultiThreadScriptAction "$Global:PDT_Onglets\CopyDataToCTravail.ps1"        
    })
    
#Action de purge de profil 4eme version
    $WINDOWS_Purge_profil.Add_Click({
        write-log -Message "Lancement de la purge profil" -severity 1 -component "ACTIONS - Purge profil"
        Multithread_func -NewMultiThreadCondition "SCRIPT" -NewMultiThreadScriptAction "$Global:PDT_Onglets\PurgeProfilV4.ps1"
    })

#Action d'activation du pave numerique au demarrage du poste
    $WINDOWS_VerrNum.Add_Click({
        write-log -Message "Pave numerique" -severity 1 -component "ACTION - PAVE NUMERIQUE"
        Multithread_func -NewMultiThreadCondition "SCRIPT" -NewMultiThreadScriptAction "$Global:PDT_Onglets\VerrNum_BarreDeProgression.ps1"
    })

    #####APPLICATIONS - DEBUT ######


#Action de reparation de Keepass - Reinstallation
   $APPLI_keepass_repar.Add_Click({
            write-log -Message "Reparation Keepass" -severity 1 -component "ACTION - KEEPASS"
            Multithread_func -NewMultiThreadCondition "SCRIPT" -NewMultiThreadScriptAction "$Global:APPLI_Onglets_TT\Keepass_uninstallWithProgressBar.ps1"
   })

#Action de reparation de Java - Desinstallation de Java
   $APPLI_java_repar.Add_Click({
            write-log -Message "Purge java" -severity 1 -component "ACTION - JAVA"
            Multithread_func -NewMultiThreadCondition "SCRIPT" -NewMultiThreadScriptAction "$Global:APPLI_Onglets_TT\java_uninstallWithProgressBar.ps1"      
   })
   
#####WINDOWS - FIN#######

#On affiche notre interface
$Form.ShowDialog() | Out-Null
}

#####DECLARATION DES VARIABLES######
#Variable a changer lors d'une nouvelle version afin de pouvoir verifier que l'application correspond a la derniere version de l'appli en PROD
$Global:VERSION = "{{ version }}" 

#Nom du poste
$wksname={{ wksname }}

# Get full path to the script:
$ScriptRoute = {{ ScriptRoute }}

#Variables faisant appel aux fichier xaml
$Global:Name_XAML_VERSION1 = "{{ Name_XAML_VERSION1 }}"
$Global:Name_XAML_VERSION2 = "{{ Name_XAML_VERSION2 }}"

#Variable qui servira de base a la fonction test_site
$Global:V1 = "{{ V1 }}"
$Global:V2 = "{{ V2 }}"

#Variable pour recuperer l'id de l'utilisateur
$Global:x = (Get-PSWho).user
$Global:id = $Global:x.split('\')[1]

#On recupere la date et on la transforme selon notre format
$Global:D= Get-Date -Format "{{ D }}"                     
$Global:D2= Get-Date -Format "{{ D2 }}"
$Global:D_bis= Get-Date -Format "{{ D_bis }}"
$Global:User_And_D = "$Global:id-$Global:D_bis-$Global:D2"

#Variable concernant le stockage en local des logs de {{ name_tools }}
$Global:DIR_LOGS = "{{ DIR_LOGS }}"
$Global:DIR_LOGS2 = "{{ DIR_LOGS2 }}"

#Variables de repertoire où sont stockes les logs SCCM
$Global:REPO_PARTAGE = "{{ REPO_PARTAGE }}"
$GLobal:LOCAL_LOG = "{{ LOCAL_LOG }}"


#Variables pour la fonction d'interface de {{ name_tools }}
#Variables qui fait reference a l arbo local ou les sources se trouvent et les autres variables
$Global:DP_PROD = {{ DP_PROD }}
$Global:DP_APPLI_PROD = "{{ DP_APPLI_PROD }}"
$Global:DP_WHO_LAUNCH = "{{ DP_WHO_LAUNCH }}"
$Global:DP_LOG_ERROR_SOURCES_APPLIS = "{{ DP_LOG_ERROR_SOURCES_APPLIS }}"
$Global:Values_Path = "{{ values_Path }}"

#Variables des dossiers d'acces aux differents scripts
$Global:Source_Utilitaire = "{{ Source_Utilitaire }}"
$Global:SCCM_Onglet = "{{ SCCM_Onglet }}"
$Global:APPLI_Onglets_TT = "{{ APPLI_Onglets_TT }}"
$Global:PDT_Onglets = "{{ PDT_Onglets }}"

#####DECLARATION DES MODULES WINDOWS FORMS######
Add-Type -AssemblyName System.Windows.Forms
[System.Windows.Forms.Application]::EnableVisualStyles()
[System.Reflection.Assembly]::LoadWithPartialName('System.Windows.Forms')  				| out-null
[System.Reflection.Assembly]::LoadWithPartialName('presentationframework') 				| out-null
[System.Reflection.Assembly]::LoadFrom("$ScriptRoute") | out-null

#####EXECUTION DES FONCTIONS / SCRIPT#####

write-log -Message "-+-+-+-+-+-+-+-+Debut du script {{ name_tools }}+-+-+-+-+-+-+-+-+" -severity 1 -component "{{ name_tools }}"    

#On verifie que notre dossier de logs existe
create_repo_logs

#On verifie que notre user est bien en contexte admin lorsqu'il lance {{ name_tools }}
if( Test-Admin )
{
write-log -Message "{{ name_tools }} lancer en tant qu admin" -severity 2 -component "Droits Admin"
}
else
{
[System.Windows.Forms.MessageBox]::Show("Vous n'etes pas Administrateur du poste `n`nVous devez disposer des droits Admin" , "Verifications droits Admin",[System.Windows.Forms.MessageBoxButtons]::OK,[System.Windows.Forms.MessageBoxIcon]::STOP)
write-log -Message "{{ name_tools }} n est pas lancer en tant qu admin"
	return -1
}

#On verifie que la version lancee match avec la nouvelle version
#check_version -Number $Global:VERSION

#On verifie si le poste est sur site ou en teletravail
switch (test_site)
    {
        "$Global:V1" {
        $Global:XamlRoute = [System.IO.Path]::GetFullPath([System.IO.Path]::Combine($PSScriptRoot, $Global:Name_XAML_VERSION1))
        $Global:Name_Log = "$Global:id-{{ name_tools }}-{{ version_file_name1 }}.Log"
        write-host "Lancement {{ name_tools }} {{ version_file_name1 }}" -ForegroundColor Cyan
        #Script d'interface d'{{ name_tools }} {{ version_file_name1 }}
        {{ name_tools }}_{{ version_file_name1 }}
        }

        "$Global:V2" {
        $Global:XamlRoute = [System.IO.Path]::GetFullPath([System.IO.Path]::Combine($PSScriptRoot, $Global:Name_XAML_VERSION2))
        $Global:Name_Log = "$Global:id-{{ name_tools }}-{{ version_file_name2 }}.Log"
        write-host "Lancement {{ name_tools }} {{ version_file_name2 }}" -ForegroundColor Cyan
        #Script d'interface d'{{ name_tools }} {{ version_file_name2 }}
        {{ name_tools }}_{{ version_file_name2 }}
        }

        default {
        write-host "Lancement {{ name_tools }} {{ version_file_name2 }}" -ForegroundColor Cyan
        Multithread_func -NewMultiThreadCondition "MSG_BOX" -NewMultiThreadContent "Le script n'arrive pas a determiner le bon choix a choisir, lancement du choix {{ version_file_name2 }}" -NewMultiThreadTitle "A propos" -NewMultiThreadStatus "OK" -NewMultiThreadType "information"     
        #Script d'interface de {{ name_tools }} {{ version_file_name2 }}
        {{ name_tools }}_{{ version_file_name2 }}
        }
    }
   

write-log -Message "-+-+-+-+-+-+-+-+FIN du script {{ name_tools }}+-+-+-+-+-+-+-+-+" -severity 1 -component "{{ name_tools }}"
