version: '3.7'
services:
  runner:
    build: 
      context: .
      dockerfile: "./{{ dockerfile_name }}"
      args:
        REGISTRATION_TOKEN: "{{ registration_token }}"
        GITLAB_URL: "{{ gitlab_url }}"
        RUNNER_NAME: "{{ runner_name }}"
        MAIL: "{{ mail }}"
        USERNAME_SSH: "{{ username_ssh }}"
        PASSWORD: "{{ password }}"
    image: "{{ image }}"
    container_name: "{{ container_name }}"

