[Version]
Class=IEXPRESS
SEDVersion=3
[Options]
PackagePurpose=InstallApp
ShowInstallProgramWindow=1
HideExtractAnimation=1
UseLongFileName=1
InsideCompressed=0
CAB_FixedSize=0
CAB_ResvCodeSigning=0
RebootMode=N
InstallPrompt=%InstallPrompt%
DisplayLicense=%DisplayLicense%
FinishMessage=%FinishMessage%
TargetName=%TargetName%
FriendlyName=%FriendlyName%
AppLaunched=%AppLaunched%
PostInstallCmd=%PostInstallCmd%
AdminQuietInstCmd=%AdminQuietInstCmd%
UserQuietInstCmd=%UserQuietInstCmd%
SourceFiles=SourceFiles
[Strings]
InstallPrompt=
DisplayLicense=
FinishMessage=
TargetName={{ dest_win_sources }}\{{ name_tools }}{{ version }}.EXE
FriendlyName={{ name_tools }}{{ version }}
AppLaunched=powershell.exe -File "{{ name_tools }}{{ version }}.ps1"
PostInstallCmd=<None>
AdminQuietInstCmd=
UserQuietInstCmd=
{% set count = namespace(value=0) %}
{% for x in pstools_tab_files_ps1 %}
FILE{{ count.value }}="{{ x.filename }}"
{% set count.value = count.value + 1 %}
{% endfor %}
[SourceFiles]
SourceFiles0={{ dest_win_sources }}\{{ pstools_compil_dir_name }}\
[SourceFiles0]
{% set count = namespace(value=0) %}
{% for x in pstools_tab_files_ps1 %}
%FILE{{ count.value }}%=
{% set count.value = count.value + 1 %}
{% endfor %}
